<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>03_apply()方法_对象冒充一起使用</title>
</head>
<body>
<script type="text/javascript">
  function ClassA(sColor) {
    this.color = sColor;
    this.sayColor = function () {
      console.log(this.color);
    }
  }
  function ClassB(sColor, sName) {
    ClassA.apply(this, new Array(sColor));

    this.name = sName;
    this.sayName = function () {
      console.log(this.name);
    }
  }

  var objB = new ClassB('blue', 'John');
  objB.sayColor(); // blue
  objB.sayName(); // John
</script>
</body>
</html>