<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>04_原型链</title>
</head>
<body>
<script type="text/javascript">
  function ClassA() {

  }

  ClassA.prototype.color = 'blue';
  ClassA.prototype.sayColor = function () {
    console.log(this.color);
  };


  function ClassB() {

  }

  ClassB.prototype = new ClassA();
  ClassB.prototype.name = '';
  ClassB.prototype.sayName = function () {
    console.log(this.name);
  };

  var objA = new ClassA();
  var objB = new ClassB();
  objA.color = 'blue';
  objB.color = 'red';
  objB.name = 'John';
  objA.sayColor(); // blue
  objB.sayColor(); // red
  objB.sayName(); // John

  console.log(objB instanceof ClassA); // true
  console.log(objB instanceof ClassB); // true
</script>
</body>
</html>