<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>05_混合方式</title>
</head>
<body>
<script type="text/javascript">
  function ClassA(sColor) {
    this.color = sColor;
  }

  ClassA.prototype.sayColor = function () {
    console.log(this.color);
  };

  function ClassB(sColor, sName) {
    ClassA.call(this, sColor);
    this.name = sName;
  }

  ClassB.prototype = new ClassA();

  ClassB.prototype.sayName = function () {
    console.log(this.name);
  };

  var objA = new ClassA('blue');
  var objB = new ClassB('red', 'John');
  objA.sayColor(); // blue
  objB.sayColor(); // red
  objB.sayName(); // John
</script>
</body>
</html>