<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>03_传递静态或动态Prop</title>
  <script src="../../public/vendor/vue/vue.js"></script>
</head>
<body>
<div id="app">
  <!--<blog-post title="My journey with Vue"></blog-post>-->
  <!--<blog-post v-bind:title="post.title"></blog-post>-->
  <!--<blog-post v-bind:title="post.title + ' by ' + post.author.name"></blog-post>-->
  <!--传入一个数字-->
  <!--<blog-post v-bind:likes="42"></blog-post>-->
  <!--<blog-post v-bind:likes="post.likes"></blog-post>-->
  <!--传入一个布尔值-->
  <!--<blog-post is-published></blog-post>-->
  <!--<blog-post v-bind:is-published="false"></blog-post>-->
  <!--<blog-post v-bind:is-published="post.isPublished"></blog-post>-->
  <!--传入一个数组-->
  <!--<blog-post v-bind:comment-ids="[234, 266, 273]"></blog-post>-->
  <!--<blog-post v-bind:comment-ids="post.commentIds"></blog-post>-->
  <!--传入一个对象的所有属性-->
  <!--<blog-post v-bind:author="{-->
    <!--name: 'Veronica',-->
    <!--company: 'Veridian Dynamics'-->
  <!--}"></blog-post>-->
  <!--<blog-post v-bind:author="post.author"></blog-post>-->
  <!--传入一个对象的所有属性-->
  <blog-post v-bind="post"></blog-post>
</div>
<script type="text/javascript">
  Vue.component('blog-post', {
    props: ['title', 'likes', 'isPublished', 'commentIds', 'author'],
    // template: `<h3>{{ title }}</h3>`
    // template: `<h3>{{ likes }}</h3>`
    // template: `<h3>{{ isPublished }}</h3>`
    // template: `<h3>{{ commentIds }}</h3>`
    // template: `<h3>{{ author }}</h3>`
    template: `
      <div>
        <p>{{ title }}</p>
        <p>{{ likes }}</p>
        <p>{{ isPublished }}</p>
      </div>
    `
  });
  var app = new Vue({
    el: '#app',
    data: {
      post: {
        title: 'a man',
        author: {
          name: 'licong'
        },
        likes: '89',
        isPublished: 'publish',
        commentIds: '[123, 456, 789]',
        // author: {
        //   name: 'xiaohong',
        //   age: '8'
        // }
      }
    }
  });
</script>
</body>
</html>