<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>03_单向数据流</title>
  <script src="../../public/vendor/vue/vue.js"></script>
</head>
<body>
<div id="app">
  <blog-post initialCounter="2"></blog-post>
</div>
<script type="text/javascript">
  Vue.component('blog-post', {
    props: ['initialCounter'],
    data: function () {
      return {
        counter: this.initialCounter
      }
    },
    template: `<h3>{{ counter }}</h3>`
  });
  var app = new Vue({
    el: '#app',
    // props: ['initialCounter'],
    // data: function () {
    //   return {
    //     counter: this.initialCounter
    //   }
    // }
  });
</script>
</body>
</html>