<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>04_单向数据流</title>
  <script src="../../public/vendor/vue/vue.js"></script>
</head>
<body>
<div id="app">
  <!--<blog-post v-bind:initial-counter="2"></blog-post>-->
  <blog-post size="  36Inc  "></blog-post>
</div>
<script type="text/javascript">
  Vue.component('blog-post', {
    props: ['initialCounter', 'size'],
    data: function () {
      return {
        counter: this.initialCounter
      }
    },
    computed: {
      normalizedSize: function () {
        // return this.size
        return this.size.trim().toLowerCase()
      }
    },
    // template: `<h3>{{ counter }}</h3>`
    template: `<h3>{{ normalizedSize }}</h3>`
  });
  var app = new Vue({
    el: '#app'
  });
</script>
</body>
</html>