<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>05_Prop验证</title>
  <script src="../../public/vendor/vue/vue.js"></script>
</head>
<body>
<div id="app">
  <blog-post
      v-bind:pro-a="2"
      pro-b="hello"
      pro-c="world"
      v-bind:pro-d="546"
      v-bind:pro-e="{ name: 'xiaohong' }"
      pro-f="success"
      v-bind:author="new Person('Willian', 'John')"
  ></blog-post>
</div>
<script type="text/javascript">
  function Person(firstName, lastName) {
    this.firstName = firstName;
    this.lastName = lastName;
  }
  Vue.component('blog-post', {
    props: {
      proA: Number,
      // 多个可能的类型
      proB: [String, Number],
      // 必填的字符串
      proC: {
        type: String,
        required: true
      },
      // 带有默认值的数字
      proD: {
        type: Number,
        default: 100
      },
      // 带有默认值的对象
      proE: {
        type: Object,
        // 对象或数组默认值必须从一个工厂函数获取
        default: function () {
          return { message: 'nihao' }
        }
      },
      // 自定义验证函数
      proF: {
        validator: function (value) {
          // 这个值必须匹配下列字符串中的一个
          return ['success', 'warning', 'danger'].indexOf(value) !== -1
        }
      },
      author: Person
    },
    template: `
      <div>
        <p>{{ proA }}</p>
        <p>{{ proB }}</p>
        <p>{{ proC }}</p>
        <p>{{ proD }}</p>
        <p>{{ proE }}</p>
        <p>{{ proF }}</p>
        <p>{{ author }}</p>
      </div>
    `
  });
  var app = new Vue({
    el: '#app'
  });
</script>
</body>
</html>