<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>02_数据与方法2</title>
    <script src="../../public/vendor/vue/vue.js"></script>
</head>
<body>
<div id="app">
  <p>{{ foo }}</p>
  <button v-on:click="foo = 'baz'">Change it</button>
  <input v-model="a">
</div>
<script type="text/javascript">
  var data = { a: 1 };
  var vm = new Vue({
    el: '#app',
    data: data
  });
  if(vm.$data == data) {
    console.log('vm.$data == data')
  }
  if(vm.$el == document.getElementById('app')) {
    console.log('vm.$data == document.getElementById(\'app\')')
  }
  vm.$watch('a', function (newValue, oldValue) {
    console.log('newValue: ', newValue);
    console.log('oldValue: ', oldValue);
  })
</script>
</body>
</html>