<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>03_绑定HTML Class_用在组件上</title>
  <script src="../../public/vendor/vue/vue.js"></script>
</head>
<body>
<div id="app">
  <my-component class="baz boo"></my-component>
  <my-component class="foo bar"></my-component>
  <my-component :class="{active: isActive}"></my-component>
</div>
<script type="text/javascript">
  Vue.component('my-component', {
    template: '<p class="foo bar">Hi</p>'
  });
  var app = new Vue({
    el: '#app',
    data: {
      activeClass: 'active',
      errorClass: 'text-danger',
      isActive: true
    }
  })
</script>
</body>
</html>