<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>02_编译作用域</title>
  <script src="../../public/vendor/vue/vue.js"></script>
</head>
<body>
<div id="app">
  <navigation-link url="/profile">
    Logged in as {{ user.name }}
  </navigation-link>
  <navigation-link url="/profile">
    Clicking here will send you to: {{ url }}
  </navigation-link>
</div>
<script type="text/javascript">
  Vue.component('navigation-link', {
    props: ['url'],
    template: `
      <a v-bind:href="url" class="nav-link">
        <slot></slot>
      </a>
    `
  });
  var app = new Vue({
    el: '#app',
    data: {
      user: {
        name: 'John'
      }
    }
  })
</script>
</body>
</html>