<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>05_作用域插槽</title>
  <script src="../../public/vendor/vue/vue.js"></script>
</head>
<body>
<div id="app">
  <!--<current-user>-->
    <!--<template v-slot:default="slot">-->
      <!--{{ slot.puser.firstName }}-->
    <!--</template>-->
  <!--</current-user>-->

  <!--独占默认插槽的缩写语法-->
  <!--<current-user v-slot="slot">-->
    <!--{{ slot.puser.firstName }}-->
  <!--</current-user>-->

  <!--解构插槽Prop-->
  <!--<current-user v-slot="{ puser }">-->
    <!--{{ puser.firstName }}-->
  <!--</current-user>-->

  <!--解构插槽Prop -- 重命名-->
  <current-user v-slot="{ puser: tuser }">
    {{ tuser.firstName }}
  </current-user>
</div>

<script type="text/javascript">
  Vue.component('current-user', {
    data: function () {
      return {
        user: {
          firstName: 'Willian',
          lastName: 'John'
        }
      }
    },
    template: `
    <span>
      <slot v-bind:puser="user">
        {{ user.lastName }}
      </slot>
    </span>
    `
  });
  var app = new Vue({
    el: '#app',
    // data: {
    //   user: {
    //     firstName: 'Willian',
    //     lastName: 'John'
    //   }
    // }
  })
</script>
</body>
</html>