<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>05_作用域插槽2</title>
  <script src="../../public/vendor/vue/vue.js"></script>
</head>
<body>
<div id="app">
  <current-user v-slot="{ user = { firstName: 'Guest' } }">
    {{ user.firstName }}
  </current-user>
</div>

<script type="text/javascript">
  Vue.component('current-user', {
    data: function () {
      return {
        user: undefined
      }
    },
    template: `
    <span>
      <slot v-bind:user="user">
      </slot>
    </span>
    `
  });
  var app = new Vue({
    el: '#app'
  })
</script>
</body>
</html>