<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>06_动态插槽名</title>
  <script src="../../public/vendor/vue/vue.js"></script>
</head>
<body>
<div id="app">
  <base-layout>
    <template v-slot:[name.head]>
      <h1>Here might be a page title</h1>
    </template>

    <!--<p>A paragragh for the main content.</p>-->
    <!--<p>And another one.</p>-->

    <template>
      <p>A paragragh for the main content.</p>
      <p>And another one.template</p>
    </template>

    <template v-slot:[name.foot]>
      <p>Here's some contact info</p>
    </template>

  </base-layout>
</div>

<script type="text/javascript">
  Vue.component('base-layout', {
    template: `
    <div class="container">
      <header>
        <slot name="header"></slot>
      </header>
      <main>
        <slot></slot>
      </main>
      <footer>
        <slot name="footer"></slot>
      </footer>
    </div>
    `
  });
  var app = new Vue({
    el: '#app',
    data: {
      name: {
        head: 'header',
        foot: 'footer'
      }
    }
  })
</script>
</body>
</html>