<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>01__基础</title>
  <script src="../../public/vendor/vue/vue.js"></script>
</head>
<body>
<div id="app">
  <anchored-heading :level="1">Hello world!</anchored-heading>
</div>
<script type="text/javascript">
  Vue.component('anchored-heading', {
    render: function (createElement) {
      return createElement(
        'h' + this.level, // 标签名称
        this.$slots.default // 子元素数组
      )
    },
    props: {
      level: {
        type: Number,
        required: true
      }
    }
  });
  var app = new Vue({
    el: '#app'
  });
</script>
</body>
</html>