<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>02_数组语法</title>
  <script src="../../public/vendor/vue/vue.js"></script>
</head>
<body>
<div id="app">
  <div v-bind:style="[baseStyles, overridingStyles, single]">数组语法</div>
</div>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      baseStyles: {
        color: 'blue',
        fontSize: '13px'
      },
      overridingStyles: {
        color: 'red',
        fontWeight: 'bold'
      },
      single: {
        fontStyle: 'italic',
        transform: 'rotate(180deg)'
      }
    }
  })
</script>
</body>
</html>