<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>05_JavaScript钩子</title>
  <script src="../../public/vendor/vue/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
</head>
<body>
<div id="app">
  <button @click="show = !show">Toggle</button>
  <transition
    v-on:before-enter="beforeEnter"
    v-on:enter="enter"
    v-on:leave="leave"
    v-bind:css="false"
  >
    <p v-if="show">hello</p>
  </transition>
</div>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      show: false
    },
    methods: {
      beforeEnter: function (el) {
        el.style.opacity = 0;
        el.style.transformOrigin = 'left';
      },
      enter: function (el, done) {
        Velocity(el, {
          opacity: 1,
          fontSize: '1.4em'
        }, {
          duration: 300
        });
        Velocity(el, {
          opacity: 1,
          fontSize: '1em'
        }, {
          complete: done
        });
      },
      leave: function (el, done) {
        Velocity(el, {
          translateX: '15px',
          rotateZ: '50deg'
        }, {
          duration: 600
        });
        Velocity(el, {
          rotateZ: '100deg'
        }, {
          loop: 2
        });
        Velocity(el, {
          rotateZ: '45deg',
          translateY: '300px',
          translateX: '300px',
          opacity: 0
        }, {
          complete: done
        });
      }
    }
  })
</script>
</body>
</html>