<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>03_访问元素&组件_访问子组件实例或子元素</title>
  <script src="../../public/vendor/vue/vue.js"></script>
</head>
<body>
<div id="app">
  <div @click="visit2">
    访问子组件<base-input ref="usernameInput"></base-input>
  </div>

  <div @click="visit">
    访问子元素 <input ref="input" value="3"/>
  </div>
</div>
<script type="text/javascript">
  Vue.component('base-input', {
    data: function () {
      return {
        base: '123'
      }
    },
    template: `
      <input ref="input" value="2"/>
    `
  });
  var app = new Vue({
    el: '#app',
    data: {
      foo: 1
    },
    methods: {
      visit: function () {
        console.log('this.$refs.input.value', this.$refs.input.value);
      },
      visit2: function () {
        console.log('this.$refs.usernameInput.base', this.$refs.usernameInput.base);
      }
    }
  });

</script>
</body>
</html>