<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>04_访问元素&组件_依赖注入</title>
  <script src="../../public/vendor/vue/vue.js"></script>
</head>
<body>
<div id="app">
  <google-map>
    <google-map-region>
      <google-map-markers></google-map-markers>
    </google-map-region>
  </google-map>
</div>
<script type="text/javascript">
  Vue.component('google-map', {
    data: function() {
      return {
        map: 'map data'
      }
    },
    provide: function() {
      return {
        getMap: this.map
      }
    },
    template: `
      <div>
        google-map
        <slot></slot>
      </div>
    `
  });
  Vue.component('google-map-region', {
    methods: {
      region: function () {
        console.log('region this.$parent.map:' + this.$parent.map);
        console.log('region this.$root.name:' + this.$root.name);
      }
    },
    template: `
      <div v-on:click="region">
        google-map-region
        <slot></slot>
      </div>
    `
  });
  Vue.component('google-map-markers', {
    inject: ['getMap'],
    methods: {
      mark: function ($event) {
        console.log('mark this.getMap:' + this.getMap);
      }
    },
    template: `
      <div v-on:click.stop="mark">
        google-map-markers
      </div>
    `
  });
  var app = new Vue({
    el: '#app',
    data: {
      name: 'Willian'
    }
  });
</script>
</body>
</html>