<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>05_ 组件之间的循环引用</title>
  <script src="../../public/vendor/vue/vue.js"></script>
</head>
<body>
<div id="app">
  <tree-folder :folder="folder"></tree-folder>
</div>
<script type="text/javascript">
  Vue.component('tree-folder', {
    props: ['folder'],
    template: `
      <p>
        <span>{{ folder.name }}</span>
        <tree-folder-contents :children="folder.children"></tree-folder-contents>
      </p>
    `
  });
  Vue.component('tree-folder-contents', {
    props: ['children'],
    template: `
      <ul>
        <li v-for="child in children" :data-name="child.name">
          <tree-folder v-if="child.children" :folder="child"></tree-folder>
          <span v-else>{{ child.name }}</span>
        </li>
      </ul>
    `
  });
  var app = new Vue({
    el: '#app',
    data: {
      folder: {
        name: 'level-1',
        children: [
          {
            name: 'level-1-1',
            // children: []
          },
          {
            name: 'level-1-2',
            children: [
              {
                name: 'level-1-2-1',
                // children: []
              }
            ]
          }
        ]
      }
    }
  })
</script>
</body>
</html>