<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>03_计算属性_计算属性vs侦听属性</title>
  <script src="../../public/vendor/vue/vue.js"></script>
</head>
<body>
<div id="app">
  <div>{{ fullName }}</div>
  <input v-model="firstName"><br/>
  <input v-model="lastName">
</div>
<script type="text/javascript">
  // Willian John
  var app = new Vue({
    el: '#app',
    data: {
      firstName: 'Foo',
      lastName: 'Bar',
      // fullName: 'Foo Bar'
    },
    // watch: {
    //   firstName: function (val) {
    //     this.fullName = val + ' ' + this.lastName
    //   },
    //   lastName: function (val) {
    //     this.fullName = this.firstName + ' ' + val
    //   }
    // },
    computed: {
      fullName: function () {
        return this.firstName + ' ' + this.lastName
      }
    }
  })
</script>
</body>
</html>