<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>04_事件修饰符</title>
  <script src="../../public/vendor/vue/vue.js"></script>
</head>
<body>
<div id="app">
  <div v-on:click="doStop">
    <a v-on:click="doThis">doThis</a>
    <!--阻止单击事件继续传播-->
    <a v-on:click.stop="doThis">doThis</a>
  </div>

  <form v-on:submit="onSubmit">
    <button>onSubmit</button>
  </form>
  <!--提交事件不再重载页面-->
  <form v-on:submit.prevent="onSubmit">
    <button>onSubmit</button>
  </form>

  <!--修饰符可以串联-->
  <a v-on:click.stop.prevent="doThat" href="https://baidu.com">doThat</a>

  <!--只有修饰符-->
  <form v-on:submit.prevent>
    <button>prevent</button>
  </form>

  <div v-on:click="doCapture">
    <button @click="doCaptureChild">doCapture</button>
  </div>
  <!--添加事件监听器时使用事件捕获模式-->
  <!--即元素自身触发的事件先在此处理，然后才交由内部元素进行处理-->
  <div v-on:click.capture="doCapture">
    <button @click="doCaptureChild">doCapture</button>
  </div>

  <!--只当在 event.target 是当前元素自身时触发处理函数-->
  <div v-on:click.self="doSelf">
    <button @click="doSelfChild">doSelf</button>
  </div>

  <!--点击事件将只会触发一次-->
  <a v-on:click.once="doOnce">doOnce</a>

  <!--?? 没效果-->
  <div v-on:scroll="doScroll" style="height: 500px;overflow: scroll;">
    <div style="height: 500px;width: 200px;background: red;"></div>
    <div style="height: 500px;width: 200px;background: green;"></div>
    <div style="height: 500px;width: 200px;background: blue;"></div>
  </div>
  <div v-on:scroll.passive="doScrollPassive" style="height: 500px;overflow: scroll;">
    <div style="height: 500px;width: 200px;background: red;"></div>
    <div style="height: 500px;width: 200px;background: green;"></div>
    <div style="height: 500px;width: 200px;background: blue;"></div>
  </div>
</div>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      name: 'Vue.js'
    },
    methods: {
      doThis: function () {
        alert('doThis');
      },
      doStop: function () {
        alert('doStop');
      },
      onSubmit: function () {
        alert('onSubmit');
      },
      doThat: function () {
        alert('doThat');
      },
      doCapture: function () {
        alert('doCapture');
      },
      doCaptureChild: function () {
        alert('doCaptureChild');
      },
      doSelf: function () {
        alert('doSelf');
      },
      doSelfChild: function () {
        alert('doSelfChild');
      },
      doOnce: function () {
        alert('doOnce');
      },
      doScroll: function () {
        console.log('doScroll');
      },
      doScrollPassive: function () {
        console.log('doScrollPassive');
      },
    }
  })
</script>
</body>
</html>