<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>02_组件的复用</title>
  <script src="../../public/vendor/vue/vue.js"></script>
</head>
<body>
<div id="app">
  <button-counter></button-counter>
  <button-counter></button-counter>
  <button-counter></button-counter>
</div>
<script type="text/javascript">
  // 一个组件的 data 选项必须是一个函数
  Vue.component('button-counter', {
    data: function () {
      return {
        count: 0
      }
    },
    template: '<button v-on:click="count++">You click me {{ count }} times.</button>'
  });
  var app = new Vue({
    el: '#app'
  });
</script>
</body>
</html>