<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>04_.sync修饰符</title>
  <script src="../../public/vendor/vue/vue.js"></script>
</head>
<body>
<div id="app">
  <text-document v-bind:title.sync="doc.title" v-on:change-event="change"></text-document>
</div>
<script type="text/javascript">
  Vue.component('text-document', {
    template: `
      <span v-on:click="$emit('change-event', 123)">测试sync</span>
      <!--<span v-on="$listeners">测试sync</span>-->
    `
  });
  var app = new Vue({
    el: '#app',
    data: {
      doc: {
        title: 'This is a title.'
      }
    },
    methods: {
      change: function ($event) {
        this.doc.title = 'change the title.';
        console.log('change');
        console.log('$event', $event);
      }
    }
  });
</script>
</body>
</html>